<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="30 seconds">
    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/my/up/logs/portlets/AdvisorPortlets/AdvisorPortlets.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/my/up/logs/portlets/AdvisorPortlets/AdvisorPortlets.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{ISO8601} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="PERF" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>/my/up/logs/portlets/AdvisorPortlets/AdvisorPortlets.performance.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>/my/up/logs/portlets/AdvisorPortlets/AdvisorPortlets.performance.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>
    
    <!-- 
    <logger name="org.apache.commons.httpclient" level="DEBUG"/>
    <logger name="httpclient.wire" level="DEBUG"/>
    <logger name="edu.wisc" level="DEBUG"/>
    <logger name="org.springframework" level="DEBUG"/>
    -->
   
    <root level="TRACE">
        <appender-ref ref="R" />
    </root>
</configuration>

